@charset "UTF-8";@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Karla:ital,wght@0,400;0,600;1,400;1,600&family=Rubik:ital,wght@0,400;0,600;1,400;1,600&display=swap");

/* CSS Variables */
:root {
    /* Colors */
    --background-primary: hsl(207deg, 95%, 8%);
    --background-secondary-alt: #455d70;
    --text-normal: #f8f8f2;
    --text-title-h1: #ff79c6;
    --text-title-h2: #82aaff;
    --text-title-h3: #c5e478;
    --text-title-h4: #ffb86c;
    --text-title-h5: #50fa7b;
    --text-title-h6: #8be9fd;
    --text-bold-color: #50fa7b;
    --primary-lavender: #b380fb;
    /* Font Sizes */
    --font-size-h1: 50px;
    --font-size-h2: 30px;
    --font-size-h3: 21px;
    --font-size-h4: 20px;
    --font-size-h5: 19px;
    --font-size-h6: 18px;
    --font-size-normal: 20px;
    --border-radius: 15px;
    /* Font Styles */
    --font-text: Karla, Avenir Next, Helvetica, Arial, sans-serif;
    --font-text-bold: IBM Plex Mono, Menlo, Monaco, Courier New, monospace;
}

/* Global Styles */
html {
    background-color: var(--background-primary);
    color: var(--text-normal);
    font-family: var(--font-text);
    font-size: var(--font-size-normal);
    text-align: center;
    margin: 1rem;
} main, #todo_list, .status_bar, .todo_input {
    margin: 1em;
} h1 {
    font-size: var(--font-size-h1);
    color: var(--text-title-h1);
}

/* TASK LIST CONTAINER  */
#todo_list {
    background-color: var(--background-secondary-alt);
    list-style: none;
    padding: 0;
    border-radius: var(--border-radius);
}

/* TASKS IN THE TASK LIST */
.task {
    display: flex;
    justify-content:space-between;
    padding: 0.45em;
    border-radius: var(--border-radius);
} .task:hover {
    background-color: var(--text-title-h3);
    color: var(--background-primary);
} .taskname {
    display: flex;
    gap: 1em;
}
/* TODO CHECK BOX */
/* Customize the label (the container) */
.check_box {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} /* Hide the browser's default checkbox */
.check_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} /* Create a custom checkbox */
  .check_mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--primary-lavender);
    border-radius: 8px;
} /* When the checkbox is checked, add a blue background */
.check_box input:checked ~ .check_mark {
    background-color: var(--text-title-h3);
} /* Create the checkmark/indicator (hidden when not checked) */
.check_mark:after {
    content: "";
    position: absolute;
    display: none;
} /* Show the checkmark when checked */
.check_box input:checked ~ .check_mark:after {
    display: block;
} /* Style the checkmark/indicator */
.check_box .check_mark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--background-primary);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 
/* DELETE CHECK BOX*/ 
.delete_task {
    background: none;
    border: none;
    font-size: var(--font-size-h3);
} .delete_task:hover {
    cursor: pointer;
}

/* STATUS BAR */
.status_bar {
    display: flex;
    justify-content: space-between;
} .filters button, #enter_todo {
    background: none;
    border: none;
    font-size: var(--font-size-h2);
} .filters button:hover {
    cursor: pointer;
}

/* FOOTER */
.todo_input input {
    background-color: var(--background-secondary-alt);
    color: var(--text-normal);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.8em;
    font-size: var(--font-size-h5);
    box-sizing: border-box;
    width: auto;
} .todo_input input::placeholder {
    color: var(--text-title-h6);
} #enter_todo:hover {
    cursor: pointer;
}